


<a class="btn btn-primary" asp-controller="Customers" asp-action="Index" role="button">Customer</a>
<a class="btn btn-primary" asp-controller="Employees" asp-action="Index" role="button">Employee</a>
<a class="btn btn-primary" asp-controller="Products" asp-action="Index" role="button">Product</a>



